/node_modules
config/config.php
dashbord/calc/connect.php
dashbord/calcUr/connect.php
kalculator/connect.php
dashbord/2022
dashbord/2023
dashbord/2024
images/mugs/*
vidio/*
constructorT-Shirt/phpModules/uploads
constructorT-Shirt/img/*
constructorT-Shirt/prepare_img/*

constructor-Mugs/phpModules/uploads
constructor-Mugs/img/*
constructor-Mugs/prepare_img/*
