/node_modules
config/config.php
dashbord/calc/connect.php
dashbord/calcUr/connect.php
kalculator/connect.php
dashbord/2022
dashbord/2023
images/mugs/*
vidio/*
constructorT-Shirt/phpModules/uploads
constructorT-Shirt/img/*
constructorT-Shirt/prepare_img/*